@charset "UtTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #FF1B1C;
}
main{
    background-color: white;
    width: 99%;
    padding: 5px;
}
h1{
    color: #16324F;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #14686893;
    width: 500px;
    padding: 10px;
    margin: auto;
    text-align: center;
    font-size: 3em;
}
h2{
    color: #13293D;
}
p{
    color: white;
}
ul{
    color: black;
}
li{
    color: black;
}