@charset "UTF-8";
@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bison';
    src: url('fontes/Bison-Bold.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #84E1AD;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

a {
    color: #226941;
    text-decoration: none;
    font-weight: bold;
}
a.especial::after{
    content: url('imagens/link_p.png');
}
a:hover{
    color: yellowgreen;
    text-decoration: underline;
}
a:active{
    color: yellow;
}


header{
    background-image: linear-gradient(to bottom, #2eff8c, #21382b);
    color: white;
    padding-top: 10px;
    text-align: center;
}
header > h1{
    font-family: 'Bison', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3em;
    text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.473);
}
header > h2{
    font-weight: normal;
}
div#menu{
    text-align: left;
    padding-bottom: 10px;
}
div#menu > span{
    margin: 5px 15px;
}


main{
    background-color: white;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.521);
    width: 800px;
    padding: 10px;
    margin: auto;
}

main > h1{
    font-family: 'Android', Arial, Helvetica, sans-serif;
    color: #226941;
}
main > h2{
    font-family: 'Android', Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #2eff8c, white);
    padding: 2px 2px 2px 5px;
    color: #226941;
}
main > p{
    text-align: justify;
    text-indent: 30px;
}
main > div.caixa01 > p{
    text-align: justify;
    text-indent: 30px;
}
main > img.img03{
    display: block;
    margin: auto;
}
main > div.video{
    padding: 25px;
    background-color: #205236;
    width: 770px;
    display: block;
    margin-left: -10px;
}
main > div.video > iframe{
    display: block;
    margin: auto;
    width: 700px;
    height: 400px;
}

main > div.caixa01{
    background-color: #99f8c4;
    border-radius: 30px;
}
main > div.caixa01 > h3{
    background-color: #1cb15f;
    color: white;

    padding: 25px 10px 10px 10px;
    border-radius: 30px 30px 0px 0px;
    margin-top: auto;
    
}

main > div.caixa01 > div.caixa02{
    padding: 0px 10px 10px 10px;
    text-align: justify;
    text-indent: 30px;
}

main > div.caixa01 > div.caixa02 > ul{
    text-indent: 0px;
    columns: 2;
    list-style-image: url("imagens/chack-mark-p.png");
}


footer{
    background-color: #21382b;
    color: white;

    margin-top: 10px;
    padding: 5px;

    text-align: center;
}
footer > label.big{
    font-weight: bold;
}